/* Module.scss */

header[role="banner"] {
    background:  #70decd;
    background-size: cober;
    height: 200px;
    text-align: center;
    width: 100vw;
}



//    nav[role="navigetion"] 
//    position: absolute;
//    right: 10px;
//

nav[role="navigation"] ul {
    background-color: #fcd5a8;
    list-style-type: none;
    margin-top: 30px;
    padding: 8px 8px 8px 40px;
    @media screen and (min-width: 1024px) {
        max-width: 100%;
        margin-bottom: 60px;
    }
}

nav[role="navigation"] ul li {
    display: inline-block;
    max-width: 100%;
    margin: 0 0 0 8px;
    padding: 0;
}

nav[role="navigation"] a {
    color: #000;
    font-size: 18px;
    transition: color 300ms linear;
    &:hover {
        color: darken(#70decd,30%);
        transition: color 300ms linear;
    }
}

.main-portraits img {
    filter: opacity(1);
    transition: all 300ms ease-in-out;
    &:hover {
        filter: opacity(0.75);
        transition: all 300ms ease-in-out;
    }
}

.main-portraits img {
    max-width: 70%;
    align-content: center;
    margin-left: 30px;
}


.contentinfo {
    background-color: #2b2b2b;
    color: #fff;
}

box {
    max-width: 100%;
    display: inline-block;
    background-color: #70decd;
    padding: 8px 0px 15px 20px;
    margin: 10%;
    align-content: center;
}

box1 {
    max-width: 100%;
    display: inline-block;
    background-color: #70decd;
    padding: 12px 0px 15px 20px;
    margin: 25px 0 0 0;
    align-content: center;
}

footer {
    margin-bottom: 40px;
    margin-top: 0;
}



